.content-pinkBottom {
    display: flex;
    padding: 100px 170px;
    background: #d54c63;
    color: #fff;
    text-align: left;
    @media (max-width: 900px) {
padding: 70px 10px;
    }
    &__box {
        width: 50%;
        @media (max-width: 1150px) {
            width: 100%;
            text-align: justify;
        }
        h4 {
            padding-bottom: 20px;
        }
        p {
            padding-bottom: 20px;
        }
        a {
            color: #fff;
        }
    }
}
