body {
    font-family: 'Open Sans', sans-serif;
}
button {
    cursor: pointer;
}
.container {
    padding: 0 15px;
    position: relative;
    @media (max-width: 1150px) {
        width: 100%;
    }
}
.text-small {
    font-size: 1em;
    color: #fff;
}
h1 {
    font-size: 3em;
    line-height: 68px;
    padding: 60px 0;
    @media (max-width: 610px) {
        font-size: 2em;
        line-height: 45px;
    }
}
h2 {
    font-size: 2.5em;
    line-height: 55px;
    padding: 40px 0;
    @media (max-width: 600px) {
        font-size: 2em;
        padding: 20px 0;
        line-height: 38px;
    }
}
h4 {
    font-size: 1.4em;
    font-weight: 600;
}
p {
    line-height: 1.8;
    font-size: 1.2em;
}
button{
    outline: none;
}
